
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --body-20-medium: Catamaran;
    --heading-26-regular: Saira;
    
    /* font sizes */
    --body-20-medium-size: 20px;
    --font-size-sm: 14px;
    --heading-26-regular-size: 26px;
    --body-24-regular-size: 24px;
    
    /* Colors */
    --purple: #9e9bf2;
    --yellow: #f2e088;
    --color-black: #000;
    --lighter-nav-bar: rgba(247, 232, 229, 0.9);
    --color-sandybrown: rgba(242, 149, 68, 0.8);
    
    /* Border radiuses */
    --br-xl: 20px;
    --br-17xl: 36px;
    
}