.navContainer {
    width: 393px;
    height: 77px;
    display: flex;
    position: absolute;
    top: 91.5%;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2E088;
    border-radius: 10px;
  }
  
  .navItem {
    display: flex;
    cursor: pointer;
  }
  
  .addButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -35px; 
    cursor: pointer;
  }
  
  .addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: none;
  }
  