.add-page-child {
    position: absolute;
    top: 582px;
    left: 0px;
    width: 393px;
    height: 55px;
}
.add-page-item {
    position: absolute;
    top: 143px;
    left: 26px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 40px;
    height: 67px;
}
.add-page-inner {
    position: absolute;
    top: 143px;
    left: 77px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 40px;
    height: 67px;
}
.rectangle-div {
    position: absolute;
    top: 143px;
    left: 128px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 40px;
    height: 67px;
}
.add-page-child1 {
    position: absolute;
    top: 143px;
    left: 179px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 40px;
    height: 67px;
}
.add-page-child2 {
    position: absolute;
    top: 143px;
    left: 230px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 40px;
    height: 67px;
}
.add-page-child3 {
    position: absolute;
    top: 143px;
    left: 281px;
    border-radius: var(--br-xl);
    background-color: rgba(242, 126, 99, 0.7);
    width: 40px;
    height: 67px;
}
.add-page-child4 {
    position: absolute;
    top: 143px;
    left: 332px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 40px;
    height: 67px;
}
.nav-bar-icon {
    position: absolute;
    top: 726px;
    left: 0px;
    width: 393px;
    height: 126px;
}
.total-calories {
    position: absolute;
    top: 248px;
    left: 120px;
    font-size: var(--heading-26-regular-size);
    font-weight: 500;
    font-family: var(--heading-26-regular);
    text-align: left;
    display: inline-block;
    width: 163px;
    height: 42px;
}
.breakfast {
    position: absolute;
    top: 72px;
    left: 26px;
    font-size: var(--heading-26-regular-size);
    font-weight: 500;
    font-family: var(--heading-26-regular);
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 42px;
}
.div {
    position: absolute;
    top: 176px;
    left: 26px;
    display: inline-block;
    width: 40px;
    height: 42px;
}
.sun {
    position: absolute;
    top: 156px;
    left: 26px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.mon {
    position: absolute;
    top: 156px;
    left: 77px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.tue {
    position: absolute;
    top: 156px;
    left: 128px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.wed {
    position: absolute;
    top: 156px;
    left: 179px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.thur {
    position: absolute;
    top: 156px;
    left: 230px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.fri {
    position: absolute;
    top: 156px;
    left: 281px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.sat {
    position: absolute;
    top: 156px;
    left: 332px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.div1 {
    position: absolute;
    top: 176px;
    left: 77px;
    display: inline-block;
    width: 40px;
    height: 42px;
}
.div2 {
    position: absolute;
    top: 176px;
    left: 128px;
    display: inline-block;
    width: 40px;
    height: 42px;
}
.div3 {
    position: absolute;
    top: 176px;
    left: 179px;
    display: inline-block;
    width: 40px;
    height: 42px;
}
.div4 {
    position: absolute;
    top: 176px;
    left: 230px;
    display: inline-block;
    width: 40px;
    height: 42px;
}
.div5 {
    position: absolute;
    top: 176px;
    left: 281px;
    display: inline-block;
    width: 40px;
    height: 42px;
}
.div6 {
    position: absolute;
    top: 176px;
    left: 332px;
    display: inline-block;
    width: 38px;
    height: 42px;
}
.add-page-child5 {
    position: absolute;
    top: 588px;
    left: 47px;
    border-radius: var(--br-17xl);
    background-color: var(--color-sandybrown);
    width: 297px;
    height: 50px;
}
.add-page-child6 {
    position: absolute;
    top: 657px;
    left: 47px;
    border-radius: var(--br-17xl);
    background-color: var(--color-sandybrown);
    width: 297px;
    height: 50px;
}
.confirm-and-continue {
    position: absolute;
    top: 595px;
    left: 80px;
    font-size: var(--body-24-regular-size);
    display: inline-block;
    width: 230px;
    height: 42px;
}
.go-back {
    position: absolute;
    top: 664px;
    left: 80px;
    font-size: var(--body-24-regular-size);
    display: inline-block;
    width: 230px;
    height: 42px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.add-page-child7 {
    position: absolute;
    top: 77px;
    left: 244px;
    border-radius: var(--br-xl);
    background-color: #fff;
    border: 3px solid var(--yellow);
    box-sizing: border-box;
    width: 124px;
    height: 33px;
}
.cal {
    position: absolute;
    top: 78px;
    left: 295px;
    font-size: var(--body-20-medium-size);
    font-weight: 500;
    color: var(--color-cornflowerblue);
    text-align: right;
    display: inline-block;
    width: 5px;
    height: 23px;
}
.fluent-mdl2breakfast-icon {
    position: absolute;
    top: 81px;
    left: 164px;
    width: 25px;
    height: 25px;
}
.add-page-child8 {
    position: absolute;
    top: 290px;
    left: 20px;
    border-radius: var(--br-xl);
    background-color: var(--lighter-nav-bar);
    width: 350px;
    height: 273px;
}
.your-daily-caloric {
    position: absolute;
    top: 328px;
    left: 63px;
    font-size: var(--body-20-medium-size);
}
.cal2 {
    color: var(--color-cornflowerblue);
}
.cal1 {
    position: absolute;
    top: 386px;
    left: 113px;
    font-size: 64px;
    text-align: right;
}
.add-page {
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.92);
    height: 852px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--body-20-medium);
    left: 40px;
}


.navBar {
    background-color: #F2E088;
    width: 430px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.image1 {
    width: 50px;
    height: 42.5;
}
.image02 {
    position: relative;
    width: 66.67px;
    height: 66.67px;
    background-color: #fff;
    padding:0.25em ;
    border-radius: 360px;
    top: -50px;
}

.image03 {
    width: 41.25px;
    height: 45.58;
}

.navBar a {
    padding: 0em;
    margin: 0em;
}

.pageContainer {
    display: flex;

    flex-direction: column;
    align-items: center;


}
.pageInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.add-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}