.container {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden; 
    padding-bottom: 77px;
}

.breakfasts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 40px); 
    padding: 20px;
    box-sizing: border-box;
}

.topContainer {
    margin-top: 100px;
    width: 100%;
}

.topContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.breakfastHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    font-family: var(--heading);
    font-size: 25px;
}

.topBody {
    font-family: var(--body);
    border: 2px solid var(--yellow);
    padding: 2px 8px 2px 60px;
    color: var(--purple);
    border-radius: 20px;
}

.weeklyCalendarContainer {
    margin: 50px;
    width: 100%;
}
.weeklyCalendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calendar {
    background-color: var(--light_pink);
    max-width: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: smaller;
    padding: 15px 0px;
}

.calendar.active {
    background-color: var(--orange_pink_opacity);
}

.inputContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--light_pink);
    padding: 7px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.inputBox input {
    border: 1px solid white;
    background: var(--light_pink)
}

.inputBox p {
    text-align: left;
    color: var(--purple);
    font-size: small;
}

.calories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.number {
    font-size: 20px;
}

.cal {
    font-size: 17px;
    color: var(--purple);
}

.trash {
    cursor: pointer;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin-bottom: 30px;
}

.featureButton {
    display: flex;
}

.featureButton button {
    font-family: var(--body);
    border: none;
    background: var(--light_pink);
    padding: 0px 16px;
    border-radius: 18px;
    cursor: pointer;
}

.featureButton button:hover {
    background-color: var(--orange_pink_opacity);
}

.bottomContainer {
    margin-top: 30px;
    width: 100%;
}

.bottomContainer button {
    font-family: 'Catamaran';
    font-size: large;
    background-color: var(--light_orange_opacity);
    border: none;
    padding: 7px 60px;
    border-radius: 25px;
    cursor: pointer;
}

.bottomContainer button:hover {
    background-color: var(--light_orange);
}