.container {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden; 
    padding-bottom: 77px;
}

.breakfasts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 40px); 
    padding: 20px;
    box-sizing: border-box;
}

.weeklyCalendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calendar {
    background-color: var(--light_pink);
    max-width: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: smaller;
}

.calendar.active {
    background-color: var(--orange_pink_opacity);
}

.inputContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--light_pink);
    padding: 7px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.inputBox input {
    border: 1px solid white;
    background: var(--light_pink)
}

.inputBox p {
    text-align: left;
    color: var(--purple);
    font-size: small;
}

.calories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 20px;
}

.cal {
    font-size: 21px;
    color: var(--purple);
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.featureButton {
    display: flex;
}

.featureButton button {
    font-family: var(--body);
}