:root {
    --purple: #9E9BF2;
    --yellow: #F2E088;
    --light_orange: #F29544;
    --orange_red: #F24405;
    --orange_pink: #F27E63;
    --light_pink: #F7E8E5;
}
  body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* .container {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
  } */

