@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --purple: #9E9BF2;
    --yellow: #F2E088;
    --light_orange: #F29544;
    --light_orange_opacity: #f29544db;
    --orange_red: #F24405;
    --orange_pink: #F27E63;
    --orange_pink_opacity: #f27d63bf;
    --light_pink: #F7E8E5;
    --heading: "Saira";
    --body: "Catamaran";
}
  body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--body);
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  /* .container {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
  } */

